.container {
    width: 600px;
    max-width: 100%;
    margin: 10px;
    .row {
        padding: 15px;
        text-align: center;
        border: 1px solid;
        h1 {
            font-size: 25px;
            font-weight: 900;
            text-align: center;
        }
    }
}